header{
    background:#6ca813;

}

.logo{
    font-weight: bold;
}

nav{
    justify-self: right;
}

nav ul{
    list-style-type: none;
    margin:0;
    padding: 0;
}

ul li{
    float: left;
}

li  a {
    padding: 10px;
    text-transform: uppercase;
    font-size: 15px;
}

li a:hover{
    background: #3b9c11;
}

 